.container-modal-info-usuario{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;;
    box-shadow: 2px 5px 5px black;
    padding: 2px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
}

.container-title{
    margin: -15px;
}

.title-modal{
    font-size: 35px;
    text-align: center;
}

.container-info-usuario{
    display: grid;
    grid-template-columns:
        minmax(260px, 2fr)
        minmax(0, 3fr);

    gap: 30px;
    width: 100%;
    align-items: center;
}

.input-info-usuario{
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}


.buttom-photo-select{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.photo{
    width: 100%;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}

.form-user{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 30px;
}

.conatiner-button-user{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-delete-user{
    width: 40%;
    background-color: #FF2C2C !important;
}

.button-save-user{
    width: 40%;

}

@media (max-width: 800px) {

    .container-info-usuario {
        grid-template-columns: 1fr;
    }

    .conatiner-button-user {
        flex-direction: column;
    }
}