.container-login{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: #000080;
}

.container-logo-login{
    display: flex;
    justify-content: center;
}

.logo-login{
    width: 40%;
}

.codigo-error{
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: #FF2C2C !important;
    color: #000080 !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

.form-login{
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-form-login{
    width: 60%;
}

.button-login{
    width: 15%;
    border-radius: 15px !important;
    color: #000080 !important;
    background-color: #fff !important;
}

.button-login:hover{
    transition: all ease 2s;
    transform: scale(1.1);
    border-radius: 40px !important;
}

.conatiner-sem-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conatiner-sem-cadastro p{
    color: #fff;
}