.container-cadastro{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: #000080;
}

.container-logo-cadastro{
    display: flex;
    justify-content: center;
}

.logo-cadastro{
    width: 40%;
}

.form-cadastro{
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-form-cadastro{
    width: 60%;
}

.button-cadastro{
    width: 15%;
    border-radius: 15px !important;
    color: #000080 !important;
    background-color: #fff !important;
}

.button-cadastro:hover{
    transition: all ease 2s;
    transform: scale(1.1);
    border-radius: 40px !important;
}

.conatiner-com-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conatiner-com-cadastro p{
    color: #fff;
}