.container-cadastro{
    min-height: 100vh;
    background-color: #000080;
    box-sizing: border-box;
}

.container-logo-cadastro{
    display: flex;
    justify-content: center;
}

.logo-cadastro{
    width: min(
        450px,
        70vw
    );

    height: auto;
}

.form-cadastro{
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-form-cadastro{
    width: min(
        650px,
        85vw
    );
}

.button-cadastro{
    width: min(
        250px,
        70vw
    );
    border-radius:
        15px !important;
    color:#000080 !important;
    background-color: #fff !important;
}

.button-cadastro:hover{
    transition: all ease 2s;
    transform: scale(1.1);
    border-radius: 40px !important;
}

.conatiner-com-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conatiner-com-cadastro p{
    color: #fff;
}