.container-low-itens {
    background-color: #D3D3D3;
    width: 99.5%;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}

.cabecalho {
    display: grid;
    grid-template-columns:
        minmax(65px, 0.8fr)
        5fr;

    align-items: center;
    background-color: #FFBFBF;
    width: 100%;
    min-height: 40px;
}

.number-low {
    text-align: center;
    font-size: clamp(
        1.4rem,
        1.8vw,
        2.0rem
    );
    font-weight: bold;
    background-color: #FF2C2C;
    margin: 5px;
    border-radius: 10px;
}

.title-low {
    text-align: center;
    font-size: clamp(
        1.3rem,
        2.0vw,
        2.2rem
    );
    font-weight: bold;
}

.text-total-itens{
    text-align: center;
    padding-top: 30px;
}

.grafic-category{
    max-width: 200px;
}

.container-list-low-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 5%;
}

@media (max-width: 600px) {

    .container-list-low-itens {
        gap: 8px;

        font-size: 0.9rem;
    }
}