.container-low-itens{
    background-color: #D3D3D3;
    width: 98%;
    /* height: 98%; */
    margin: 5px;
    border-radius: 10px;
}

.cabecalho{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #FFBFBF;
    width: 100%;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    height: 20%;
}

.number-low{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #FF2C2C;
    transform: scale(0.7, 0.7) translate(20%, 0%);
    border-radius: 10px;

}

.title-low{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.text-total-itens{
    text-align: center;
    padding-top: 30px;
}

.grafic-category{
    max-width: 200px;
}

.container-list-low-itens{
    display: flex;
    flex-direction: row;
    gap: 155px;
    
}