.container-value-itens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
        auto
        1fr;

    background-color: #D3D3D3;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.container-valor-estoque{
    background-color: #000080;
    border-top-left-radius: 10px;
    color: #fff;
}

.container-valor-repor{
    background-color: #FFBFBF;
    border-top-right-radius: 10px;

}

.text-value-stock{
    text-align: center;
    margin: 0;
    padding: 5px;
}

.text-value-stock-height{
    font-size: clamp(
        1rem,
        2vw,
        1.6rem
    );
}

.text-value-stock-height-rs{
    text-align: center;
    font-size: 1.2rem;
    margin: 20px 0 5px;
}

.text-value-repor{
    text-align: center;
    font-size: clamp(
        1.8rem,
        3vw,
        2.5rem
    );
    margin: 10px;
}